@import 'vars';

.ticket {
  @include fluid-aspect(910 1214);

  display: flex;
  position: relative;

  background: url('../images/ticket.png');
  background-size: cover;
  background-repeat: no-repeat;

  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  svg {
    width: 100%;
    height: 100%;

    .title {
      font-family: 'Gotham Thin';
      font-size: 56.4296px;
    }
  
    .queue-number {
      font-family: 'Gotham Ultra';
      font-size: 140.5601px;
    }
  
    .name {
      font-size: 31px;
    }
  }
}
