@import 'vars';

.user-info {
  label {
    color: $grey5;
    font-size: 11px;
    line-height: 17px;
  }

  p {
    margin-bottom: 13px;

    color: $dark-blue;
    font-size: 17px;
    line-height: 20px;
  }
}
