// theme color
$white: #ffffff;
$pink: #ee7398;
$orange: #f9c455;
$dark-blue: #192134;

// spacing number
$space: 8px;

// grey tone
$grey2: rgba(25, 33, 52, 0.2);
$grey4: rgba(25, 33, 52, 0.4);
$grey5: rgba(25, 33, 52, 0.5);
$transition-length: 0.3s;

@font-face {
  font-family: 'Gotham Thin';
  src: url('../fonts/Gotham\ Thin.otf');
}

@font-face {
  font-family: 'Gotham Ultra';
  src: url('../fonts/Gotham\ Ultra.otf');
}

// breakpoint
@mixin media-breakpoint-down($width) {
  @media screen and (max-width: $width - 1) {
    @content;
  }
}

@mixin media-breakpoint-up($width) {
  @media screen and (min-width: $width) {
    @content;
  }
}

// break point down
@mixin xs-down {
  @include media-breakpoint-down(360px) {
    @content;
  }
}

@mixin sm-down {
  @include media-breakpoint-down(576px) {
    @content;
  }
}

@mixin md-down {
  @include media-breakpoint-down(768px) {
    @content;
  }
}

@mixin lg-down {
  @include media-breakpoint-down(992px) {
    @content;
  }
}

@mixin xl-down {
  @include media-breakpoint-down(1200px) {
    @content;
  }
}

@mixin xxl-down {
  @include media-breakpoint-down(1600px) {
    @content;
  }
}

// breakpoint up
@mixin xs-up {
  @include media-breakpoint-up(480px) {
    @content;
  }
}

@mixin sm-up {
  @include media-breakpoint-up(576px) {
    @content;
  }
}

@mixin md-up {
  @include media-breakpoint-up(768px) {
    @content;
  }
}

@mixin lg-up {
  @include media-breakpoint-up(992px) {
    @content;
  }
}

@mixin xl-up {
  @include media-breakpoint-up(1200px) {
    @content;
  }
}

@mixin xxl-up {
  @include media-breakpoint-up(1600px) {
    @content;
  }
}

// orientation
@mixin orientation($orientation) {
  @media screen and (orientation: $orientation) {
    @content;
  }
}

// device display
.mobile {
  display: initial;
  &.up {
    @include sm-down {
      display: none;
    }
  }
  &.down {
    @include sm-up {
      $fontSize: 100px;
      display: none;
    }
  }
}

.tablet {
  display: initial;
  &.up {
    @include sm-down {
      display: none;
    }
  }
  &.down {
    @include sm-up {
      display: none;
    }
  }
}

.desktop {
  display: initial;
  &.up {
    @include sm-down {
      display: none;
    }
  }
  &.down {
    @include sm-up {
      display: none;
    }
  }
}

@mixin fluid-aspect($ratio: 1 1, $selector: "> :first-child") {
  $selector: unquote($selector);

  padding-bottom: percentage(nth($ratio, 2) / nth($ratio, 1));
  position: relative;

  #{$selector} {
      left: 0;
      height: 100%;
      position: absolute;
      top: 0;
      width: 100%;
  }
}
