.logo-small {
  width: 42.26px;
  height: 33.5px;
  margin-left: 10px;
  margin-top: 15px;

  background: url('../images/logo.png');
  background-size: contain;
}

.orange-button {
  display: block;

  background: $orange;
  border: none;
  border-radius: 9999px;
  box-shadow: 0px 4px 30px $light-grey;
  color: $dark-blue;

  font-weight: 500;

  transition: all $transition-length;

  &:hover {
    background: darken($color: $orange, $amount: 5);
    box-shadow: 0px 4px 30px $orange;
  }
}

.ant-input {
  padding: 0;
  border: none;
  border-bottom: 1px solid $dark-blue;
  border-radius: 0;

  &:focus {
    box-shadow: 0 2px 0 0 rgba(238, 115, 152, 0.2);
  }

  &::placeholder {
    font-size: 11px;
    line-height: 24px;

    color: rgba(25, 33, 52, 0.4);
  }
}

.has-error {
  .ant-input:focus {
    box-shadow: 0 2px 0 0 rgba(245, 34, 45, 0.2);
  }
}
